* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.bg-dark {
  background-color: black !important;
}
.fw-bold {
  font-weight: 700 !important;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .fs-4 {
    font-size: 1.5rem !important;
  }
}
